omnes-server/logs
omnes-server/project/project
omnes-server/project/target
omnes-server/target
omnes-server/tmp
omnes-server/.history
omnes-server/dist
omnes-server/.idea
omnes-server/*.iml
omnes-server/out
omnes-server/.idea_modules
omnes-server/.classpath
omnes-server/.project
omnes-server/RUNNING_PID
