.input-margin{
    margin: 10px 0;
}

body {
    background: #A2D1E0;
    color: #333;
}

html, body{
    height: 100%;
}

[scroll-glue]{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 20px;
    position: relative;
    height: 100%;
    min-height: 100px;
    overflow-y: auto;
    -webkit-flex: 1 1 auto;
    zoom: 0.7;
}

.extra-margin-right{
    margin-right: 20px;
    cursor: pointer;
}

.extra-margin-bottom{
    margin-bottom: 10px;
}

.time-period{
    min-height: 100px;
}

@media(min-width:992px){
    .time-period {
        min-height: 40px;
    }
}


.dl-horizontal dt {
    float: left;
    width: 200px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: normal;
}

.dl-horizontal dd {
    margin-left: 220px;
}

@media(min-width:768px){
    .chatscreen {
        zoom: 1;
    }
}

.range{

}

.flexcon{
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

.jumbotron{
    padding: 80px;
}

dt, dd{
    border-bottom: 1px solid #efefef;
}

.max-height{
    height: 100%;
}

.input-group-addon{
    background-color: #fff;
    border-right-width: 0px;
}

.chat-input{
    height: 47px;
    border-left-width: 0px
}

.loading{
    background-image: url("../img/ajax-loader.gif");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}